@font-face {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    src: local("Lato"),
         
         url(../googlefonts/Lato_new/Lato-Black.woff2) format ('woff2'),
         url(../googlefonts/Lato_new/Lato-Black.woff) format ('woff'),
         url(../googlefonts/Lato_new/Lato-Black.eot) format ('eot');
    font-display: swap;
  }
  @font-face {
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    src: local("Lato"),
         
         url(../googlefonts/Lato_new/Lato-Bold.woff2) format ('woff2'),
         url(../googlefonts/Lato_new/Lato-Bold.woff) format ('woff'),
         url(../googlefonts/Lato_new/Lato-Bold.eot) format ('eot');
    font-display: swap;
  }
  @font-face {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    src: local("Lato"),
         url(../googlefonts/Lato_new/Lato-Regular.woff2) format ('woff2'),
         url(../googlefonts/Lato_new/Lato-Regular.woff) format ('woff'),
         url(../googlefonts/Lato_new/Lato-Regular.eot) format ('eot');
    font-display: swap;
  }